.main-content {
  ul {
    list-style: none;

    > li {
      &::before {
        position: absolute;
        margin-left: -1.4em;
        color: $grey-lt-000;
        content: "•";
      }
    }
  }
}

h1,h2,h3,h4,h5,h6 {
  font-weight: bold;
  color: $white;
}

// Labels (not the form kind)

// this :not() prevents a style clash with Mermaid.js's
// diagram labels, which also use .label
// for more, see https://github.com/just-the-docs/just-the-docs/issues/1272
// and the accompanying PR
.label:not(g),
.label-blue:not(g) {
  display: inline-block;
  padding: 0.16em 0.56em;
  margin-right: $sp-1;
  text-transform: uppercase;
  vertical-align: middle;
  border: 1px solid;
  color: $blue-300;
  border-color: $blue-300;
  background-color: rgba($blue-300, .2);
  @include fs-2;
  border-radius: 3px;
}

.label-green:not(g) {
  color: $green-300;
  border-color: $green-300;
  background-color: rgba($green-300, .2);
}

.label-purple:not(g) {
  color: $purple-300;
  border-color: $purple-300;
  background-color: rgba($purple-300, .2);
}

.label-red:not(g) {
  color: $red-300;
  border-color: $red-300;
  background-color: rgba($red-300, .2);
}

.label-yellow:not(g) {
  color: $yellow-300;
  border-color: $yellow-300;
  background-color: rgba($yellow-300, .2);
}

div.highlight {
  border: 1px solid $white !important;
  border-radius: 5px !important;
}

i {
 margin: 0 .2em;
}

.filter {
  -webkit-filter: brightness(0) invert(1);
  filter: brightness(0) invert(1);
  height: 150px;
  width: 100%;
  object-fit: cover;
}

html {
  font-size: 18px !important;
  background: linear-gradient(to left top, #11111b, #11111b, #11111b, #11111b, #11111b, #12121d, #13141e, #141520, #161723, #191a27, #1b1c2a, #1e1e2e) !important;
  height: 100%;
}

body {
  background: none;
}

.main-header {
  background-color: rgba($sidebar-color, .6) !important;
  backdrop-filter: blur(5px);
  
  @include mq(md) {
    display: block !important;
    position: fixed !important;
    top: 0;
  }
}
