.main-content {
  ol {
    list-style-type: none;
    counter-reset: step-counter;

    > li {
      position: relative;

      &::before {
        position: absolute;
        top: 0.2em;
        left: -1.6em;
        color: $yellow-000;
        content: counter(step-counter);
        counter-increment: step-counter;
        @include fs-3;

        @include mq(sm) {
          top: 0.11em;
        }
      }

      ol {
        counter-reset: sub-counter;

        > li {
          &::before {
            content: counter(sub-counter, lower-alpha);
            counter-increment: sub-counter;
          }
        }
      }
    }
  }

  ul {
    list-style: none;

    > li {
      &::before {
        position: absolute;
        margin-left: -1.4em;
        color: $blue-000;
        content: "•";
      }
    }
    
    > li.blog {
      border-radius: 10px;
      border: 1px solid $border-color;
      
      &::before {
        content: none;
      }
    }
  }
}

h1,h2,h3,h4,h5,h6 {
  font-weight: bold;
  color: $white;
}

// Labels (not the form kind)

// this :not() prevents a style clash with Mermaid.js's
// diagram labels, which also use .label
// for more, see https://github.com/just-the-docs/just-the-docs/issues/1272
// and the accompanying PR
.label:not(g),
.label-blue:not(g) {
  display: inline-block;
  padding: 0.16em 0.56em;
  margin-right: $sp-1;
  text-transform: uppercase;
  vertical-align: middle;
  border: 1px solid;
  color: $blue-300;
  border-color: $blue-300;
  background-color: rgba($blue-300, .2);
  @include fs-2;
  border-radius: 3px;
}

.label-green:not(g) {
  color: $green-300;
  border-color: $green-300;
  background-color: rgba($green-300, .2);
}

.label-purple:not(g) {
  color: $purple-300;
  border-color: $purple-300;
  background-color: rgba($purple-300, .2);
}

.label-red:not(g) {
  color: $red-300;
  border-color: $red-300;
  background-color: rgba($red-300, .2);
}

.label-yellow:not(g) {
  color: $yellow-300;
  border-color: $yellow-300;
  background-color: rgba($yellow-300, .2);
}

div.highlight {
  border: 1px solid $border-color !important;
  border-radius: 5px !important;
}

i {
 margin: 0 .2em;
}

.filter {
  -webkit-filter: brightness(0) invert(1);
  filter: brightness(0) invert(1);
  height: 8rem;
  margin: 0 auto;
  display: block;
}

html {
  font-size: 18px !important;
  background: linear-gradient(to left top, #11111b, #11111b, #11111b, #11111b, #11111b, #12121d, #13141e, #141520, #161723, #191a27, #1b1c2a, #1e1e2e) !important;
  min-height: 100vh;
}

body {
  background: none;
}

.main-header {
  background-color: rgba($sidebar-color, .6) !important;
  backdrop-filter: blur(5px);
  
  @include mq(md) {
    display: block !important;
    position: fixed !important;
    top: 0;
  }
}

.site-header {
  border-bottom: $border $border-color;
}

.gradient-text {
  background-image: linear-gradient(
    75deg,
    #89B5FA 0%,
    #D69AC7 39%,
    #F4AEBC 61%,
    #F5DFDB 100%
  ) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color: #111;
  width: 2.5rem;
  height: 1.5rem;
  border-radius: 2.5rem;
  position: relative;
  padding: .33rem;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkbox-label .ball {
  background-color: #fff;
  width: 1.25rem;
  height: 1.25rem;
  position: absolute;
  left: .125rem;
  top: .125rem;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(1.375rem);
}
