.inverse-text {
  color: $grey-dk-300 !important;
}

a:not([class]) {
  text-decoration: underline;
  text-decoration-color: $yellow-000;
  text-underline-offset: 2px;

  &:hover {
    text-decoration-color: lighten($yellow-000, 25%);
    color: lighten($yellow-000, 25%);
  }
}

svg.checkmark {
  color: $green-300;
}

img.blog-img {
  width: 100%;
  border-radius: 5px;
  box-shadow: 0px 0.4px 0.5px hsla($shadow-color-hue, $shadow-color-saturation, $shadow-color-lightness, 0.36),
    0.1px 1.4px 1.6px -0.8px hsla($shadow-color-hue, $shadow-color-saturation, $shadow-color-lightness, 0.36),
    0.3px 3.5px 4px -1.7px hsla($shadow-color-hue, $shadow-color-saturation, $shadow-color-lightness, 0.36),
    0.7px 8.6px 9.7px -2.5px hsla($shadow-color-hue, $shadow-color-saturation, $shadow-color-lightness, 0.36);
}

.main {
  padding-top: 3.75rem;
  animation: fadeIn 0.75s linear;
}

.main-content {
  ol {
    list-style-type: none;
    counter-reset: step-counter;

    > li {
      position: relative;

      &::before {
        position: absolute;
        top: 0.2em;
        left: -1.6em;
        color: $yellow-000;
        content: counter(step-counter);
        counter-increment: step-counter;
        @include fs-3;

        @include mq(sm) {
          top: 0.11em;
        }
      }

      ol {
        counter-reset: sub-counter;

        > li {
          &::before {
            content: counter(sub-counter, lower-alpha);
            counter-increment: sub-counter;
          }
        }
      }
    }
  }

  ul {
    list-style: none;

    > li {
      &::before {
        position: absolute;
        margin-left: -1.4em;
        color: $blue-000;
        content: "•";
      }
    }
    
    > li.blog {
      border-radius: 4px;
      margin-left: -1.4em;
      overflow: hidden;
      border: 1px solid $border-color;
      /* inner glow 👇 */
      box-shadow: 0px 0.4px 0.5px hsla($shadow-color-hue, $shadow-color-saturation, $shadow-color-lightness, 0.36),
        0.1px 1.4px 1.6px -0.8px hsla($shadow-color-hue, $shadow-color-saturation, $shadow-color-lightness, 0.36),
        0.3px 3.5px 4px -1.7px hsla($shadow-color-hue, $shadow-color-saturation, $shadow-color-lightness, 0.36),
        0.7px 8.6px 9.7px -2.5px hsla($shadow-color-hue, $shadow-color-saturation, $shadow-color-lightness, 0.36);

      > img.card-image {
        width: 100%;
        height: 8em;
        display: block;
        object-fit: cover;
        object-position: center center;
      }

      > div.card-body {
        padding: .75rem;
      }
      
      &::before {
        content: none;
        margin-left: 0;
      }
    }
  }
}

h1,h2,h3,h4,h5,h6 {
  font-weight: bold;
  color: $white;
}

// Labels (not the form kind)

// this :not() prevents a style clash with Mermaid.js's
// diagram labels, which also use .label
// for more, see https://github.com/just-the-docs/just-the-docs/issues/1272
// and the accompanying PR
.label:not(g) {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.16em 0.56em;
  margin-right: $sp-1;
  vertical-align: middle;
  color: $white;
  border-color: $white;
  background-color: rgba($white, .2);
  @include fs-2;
  border-radius: 3px;
}

.label-blue:not(g) {
  color: $blue-300;
  border-color: $blue-300;
  background-color: rgba($blue-300, .2);
}

.label-green:not(g) {
  color: $green-300;
  border-color: $green-300;
  background-color: rgba($green-300, .2);
}

.label-purple:not(g) {
  color: $purple-300;
  border-color: $purple-300;
  background-color: rgba($purple-300, .2);
}

.label-red:not(g) {
  color: $red-300;
  border-color: $red-300;
  background-color: rgba($red-300, .2);
}

.label-yellow:not(g) {
  color: $yellow-300;
  border-color: $yellow-300;
  background-color: rgba($yellow-300, .2);
}

div.highlight {
  border: 1px solid $border-color !important;
  border-radius: 5px !important;
}

i {
 margin: 0 .2em;
}

.filter {
  -webkit-filter: invert(95%) sepia(11%) saturate(1274%) hue-rotate(298deg) brightness(107%) contrast(93%);
  filter: invert(95%) sepia(11%) saturate(1274%) hue-rotate(298deg) brightness(107%) contrast(93%);
  height: 8rem;
  margin: 0 auto;
  display: block;
}

body {
  background: none;
}

.main-header {
  background-color: rgba($sidebar-color, .6) !important;
  backdrop-filter: blur(5px);
  z-index: 2;
  
  @include mq(md) {
    display: block !important;
    position: fixed !important;
    top: 0;
  }
}

.site-header {
  border-bottom: $border $border-color;
}

.site-button:hover {
  background-image: none;
}

.side-bar {
  background-color: rgba($sidebar-color, .6) !important;
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  position: fixed;
  z-index: 1;
  width: 100%;
  

  
  @include mq(md) {
    width: $nav-width !important;
  }

  @include mq(lg) {
    width: calc((100% - #{$nav-width + $content-width}) / 2 + #{$nav-width}) !important ;
    min-width: $nav-width;
  }
}

.gradient-text {
  background-image: linear-gradient(
    75deg,
    $blue-300 0%,
    $purple-300 39%,
    $red-300 61%,
    $yellow-300 100%
  ) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}

html {
  font-size: 18px !important;
  background: $grey-dk-300;
  background: -moz-linear-gradient(227deg, $grey-dk-300 14%, $grey-dk-250 49%, $grey-dk-300 100%);
  background: -webkit-linear-gradient(227deg, $grey-dk-300 14%, $grey-dk-250 49%, $grey-dk-300 100%);
  background: linear-gradient(227deg, $grey-dk-300 14%, $grey-dk-250 49%, $grey-dk-300 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1e1e2e",endColorstr="#11111b",GradientType=1);
  min-height: 100vh;
}


figure,pre {
  font-family: $mono-font-family;
  margin: 0;
  position: relative;
  border-radius: 0.7rem;
  background-color: $code-background-color;
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  padding: 0.5em;

  > div.window-container {
    @include fs-2;
    display: flex;
    margin-bottom: 1em;
    padding: 0.25em 0.5em;
    justify-content: center;
    align-items: center;
    
    > div.circle {
      height: 1em;
      width: 1em;
      background-color: $grey-lt-200;
      border-radius: 50%;
      display: none;
      margin: 0 0.45em;
      flex-grow: 0;
    }
  
    > div.title {
      flex-grow: 1;
      display: flex;

      > h4 {
        font-family: $body-font-family;
      }
      
      > h4::before {
        content: "";
        position: absolute;
        top: 125%;
        width: 100%;
        left: 0;
        height: 2px;
        background: linear-gradient(
          75deg,
          $blue-300 0%,
          $purple-300 39%,
          $red-300 61%,
          $yellow-300 100%
        );
      }
    }
    
    > button {
      background: none;
      font-size: 1.5em !important;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $grey-lt-200;
      flex-grow: 0;
      box-shadow: none;
      padding: 0.25em;
      // border: 1px solid $grey-lt-100
  
      &:hover {
        color: $white;
      }
    }
  }


  > label {
    display: block;
    color: $grey-lt-000;
    @include fs-2;
    display: block;
    text-transform: uppercase;
    padding-bottom: 0.75em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    font-weight: bold;
    margin-top: 1em;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

:not(pre, figure) {
  & > code {
    padding: 0.2em 0.15em;
    font-weight: 400;
    border: none;
    border-radius: $border-radius; 
    color: $blue-300;
    border-color: $blue-300;
    background-color: rgba($blue-300, .2);
  }
}

code.hljs {
  background: none !important;
  width: 95%;
  margin: 1em;
  display: block;
  line-height: 2em;
  overflow-x: auto;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $grey-dk-300; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: $white; 
  border: 1px solid $grey-dk-300;
  border-radius: 20px;       /* roundness of the scroll thumb */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $grey-lt-300; 
}

img.hero-image,
.hero-image > img {
  width: 125%;
  height: 25vh;
  display: block;
  object-fit: cover;
  object-position: center center;
}


// Tables
// stylelint-disable max-nesting-depth, selector-no-type, selector-max-type

.table-wrapper {
  display: block;
  width: 100%;
  max-width: 100%;
  margin-bottom: $sp-5;
  overflow-x: auto;
  border-radius: $border-radius;
  box-shadow:
    0 1px 2px rgba(0, 0, 0, 0.12),
    0 3px 10px rgba(0, 0, 0, 0.08);
}

table {
  display: table;
  min-width: 100%;
  border-collapse: collapse;
}

th,
td {
  @include fs-3;

  min-width: 7.5rem;
  padding: $sp-2 $sp-3;
  border: none;
}

tbody {
  tr {
    border: none;
    background-color: $table-background-color;
    
    &:last-of-type {
      td {
        padding-bottom: $sp-3;
      }
    }
  }
}

thead {
  border-bottom: $border $border-color;
  th {
    text-transform: uppercase;
    background-color: $table-header-background-color;
    color: $table-header-color;
  }
}

svg {
  vertical-align: middle;
  height: 1em;
}

#toggle-theme > svg {
  font-size: 1.25em;
  color: $link-color;
  animation: rubberBand 0.5s linear;
}

kbd {
  @include fs-2;
  display: inline-block;
  margin: 0 0.1em;
  padding: 0.1em 0.6em;
  font-family: system-ui,-apple-system,blinkmacsystemfont,"Segoe UI",roboto,"Helvetica Neue",arial,sans-serif;
  color: hsl(210,8%,15%);
  background-color: hsl(210,8%,90%);
  border: 1px solid hsl(210,8%,65%);
  border-radius: 4px;
  box-shadow: 0 3px 0px #737475;
  overflow-wrap: break-word;
  white-space: nowrap;
  text-transform: uppercase;
  font-weight: bold;
}

.site-nav {
  display: block;
  transition: height .5s linear;
  height: 0;
  overflow: hidden;
}

.site-nav.nav-open {
  height: calc(100vh - 7.5rem);
  margin-top: 3.75rem;
  overflow-y: scroll;
}

.main.nav-open {
  overflow-y: hidden;
}

.site-header #toggle-theme {
  display: block !important;
  touch-action: manipulation;
}

.main-header.nav-open {
  width: 100%;
  z-index: 2;
  position: fixed;
}

.search-results {
  max-height: calc(100vh - 4rem);
}

#main-header {
  width: 100vw;
}

.experience {
  /* inner glow 👇 */
  box-shadow: 0px 0.4px 0.5px hsla($shadow-color-hue, $shadow-color-saturation, $shadow-color-lightness, 0.36),
    0.1px 1.4px 1.6px -0.8px hsla($shadow-color-hue, $shadow-color-saturation, $shadow-color-lightness, 0.36),
    0.3px 3.5px 4px -1.7px hsla($shadow-color-hue, $shadow-color-saturation, $shadow-color-lightness, 0.36),
    0.7px 8.6px 9.7px -2.5px hsla($shadow-color-hue, $shadow-color-saturation, $shadow-color-lightness, 0.36);
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid $border-color;
}

.search-input {
  @include mq(md) {
    background: transparent
  }
}

.btn-purple {
  box-shadow: 0px 0.4px 0.5px hsla($shadow-color-hue, $shadow-color-saturation, $shadow-color-lightness, 0.36),
    0.1px 1.4px 1.6px -0.8px hsla($shadow-color-hue, $shadow-color-saturation, $shadow-color-lightness, 0.36),
    0.3px 3.5px 4px -1.7px hsla($shadow-color-hue, $shadow-color-saturation, $shadow-color-lightness, 0.36),
    0.7px 8.6px 9.7px -2.5px hsla($shadow-color-hue, $shadow-color-saturation, $shadow-color-lightness, 0.36);
}

p > a:not(.no-arrow) > svg {
  margin-left: 0.25em;
}

