$body-font-family: "Inter", "Anek Latin", system-ui, -apple-system, blinkmacsystemfont, "Segoe UI",
  roboto, "Helvetica Neue", arial, sans-serif;
$mono-font-family: "SFMono-Regular", menlo, consolas, monospace;
$shadow-color-hue: 0deg;$shadow-color-saturation: 0%;$shadow-color-lightness: 0%;
$purple-shadow-color-hue: 0deg;$purple-shadow-color-saturation: 0%;$purple-shadow-color-lightness: 0%;
$table-background-color: $grey-dk-250;
$table-header-background-color: rgba($blue-300, 0.2);
$table-header-color: $blue-300;
$link-underline-color: $blue-100;
$link-hover-color: darken($link-underline-color, 25%);
$image-filter: brightness(0) invert(0);
