@import "//unpkg.com/@catppuccin/highlightjs/css/catppuccin-latte.css";

$white: #4c4f69;
$grey-dk-000: #ccd0da;
$grey-dk-100: #bcc0cc;
$grey-dk-200: #acb0be;
$grey-dk-250: white;
$grey-dk-300: #eff1f5;
$grey-lt-000: #5c5f77;
$grey-lt-100: #6c6f85;
$grey-lt-200: #8c8fa1;
$grey-lt-300: #7c7f93;
$purple-000: #7287fd;
$purple-100: #7287fd;
$purple-200: #8839ef;
$purple-300: #8839ef;
$blue-000: #179299;
$blue-100: #04a5e5;
$blue-200: #209fb5;
$blue-300: #1e66f5;
$green-000: #40a02b;
$green-100: #40a02b;
$green-200: #40a02b;
$green-300: #40a02b;
$yellow-000: #dc8a78;
$yellow-100: #dd7878;
$yellow-200: #df8e1d;
$yellow-300: #fe640b;
$red-000: #dd7878;
$red-100: #ea76cb;
$red-200: #e64553;
$red-300: #d20f39;

$body-background-color: var(--body-background-color);
$body-heading-color: var(--body-heading-color);
$body-text-color: var(--body-text-color);
$link-color: $white;
$link-underline-color: $blue-100;
$link-hover-color: darken($link-underline-color, 25%);
$nav-child-link-color: var(--nav-child-link-color);
$sidebar-color: var(--sidebar-color);
$base-button-color: $grey-dk-100;
$btn-primary-color: $purple-200;
$code-background-color: var(--code-background-color);
$code-linenumber-color: var(--code-linenumber-color);
$feedback-color: darken($sidebar-color, 3%);
$table-background-color: var(--table-background-color);
$table-header-background-color: var(--table-header-background-color);
$table-header-color: var(--table-header-color);
$search-background-color: var(--search-background-color);
$search-result-preview-color: var(--search-result-preview-color);
$border-color: var(--border-color);
$background: var(--background);
$shadow-color-hue: var(--shadow-color-hue);
$shadow-color-saturation: var(--shadow-color-saturation);
$shadow-color-lightness: var(--shadow-color-lightness);
$purple-shadow-color-hue: var(--purple-shadow-color-hue);
$purple-shadow-color-saturation: var(--purple-shadow-color-saturation);
$purple-shadow-color-lightness: var(--purple-shadow-color-lightness);
$image-filter: var(--image-filter);
