---
---

@import "./color_schemes/dark";

$body-font-family: "Anek Latin", system-ui, -apple-system, blinkmacsystemfont, "Segoe UI",
  roboto, "Helvetica Neue", arial, sans-serif !default;

// Colors

$white: #cdd6f4 !default;
$grey-dk-000: #313244 !default;
$grey-dk-100: #45475a !default;
$grey-dk-200: #585b70 !default;
$grey-dk-250: #1e1e2e !default;
$grey-dk-300: #11111b !default;
$grey-lt-000: #bac2de !default;
$grey-lt-100: #a6adc8 !default;
$grey-lt-200: #7f849c !default;
$grey-lt-300: #9399b2 !default;
$purple-000: #b4befe !default;
$purple-100: #b4befe !default;
$purple-200: #cba6f7 !default;
$purple-300: #cba6f7 !default;
$blue-000: #94e2d5 !default;
$blue-100: #89dceb !default;
$blue-200: #74c7ec !default;
$blue-300: #89b4fa !default;
$green-000: #a6e3a1 !default;
$green-100: #a6e3a1 !default;
$green-200: #a6e3a1 !default;
$green-300: #a6e3a1 !default;
$yellow-000: #f5e0dc !default;
$yellow-100: #f2cdcd !default;
$yellow-200: #f9e2af !default;
$yellow-300: #fab387 !default;
$red-000: #f2cdcd !default;
$red-100: #f5c2e7 !default;
$red-200: #eba0ac !default;
$red-300: #f38ba8 !default;
