@import "//unpkg.com/@catppuccin/highlightjs/css/catppuccin-mocha.css";

$white: #cdd6f4;
$grey-dk-000: #313244;
$grey-dk-100: #45475a;
$grey-dk-200: #585b70;
$grey-dk-250: #1e1e2e;
$grey-dk-300: #11111b;
$grey-lt-000: #bac2de;
$grey-lt-100: #a6adc8;
$grey-lt-200: #7f849c;
$grey-lt-300: #9399b2;
$purple-000: #b4befe;
$purple-100: #b4befe;
$purple-200: #cba6f7;
$purple-300: #cba6f7;
$blue-000: #94e2d5;
$blue-100: #89dceb;
$blue-200: #74c7ec;
$blue-300: #89b4fa;
$green-000: #a6e3a1;
$green-100: #a6e3a1;
$green-200: #a6e3a1;
$green-300: #a6e3a1;
$yellow-000: #f5e0dc;
$yellow-100: #f2cdcd;
$yellow-200: #f9e2af;
$yellow-300: #fab387;
$red-000: #f2cdcd;
$red-100: #f5c2e7;
$red-200: #eba0ac;
$red-300: #f38ba8;

$body-background-color: var(--body-background-color);
$body-heading-color: var(--body-heading-color);
$body-text-color: var(--body-text-color);
$link-color: $white;
$link-underline-color: $yellow-000;
$link-hover-color: lighten($link-underline-color, 25%);
$nav-child-link-color: var(--nav-child-link-color);
$sidebar-color: var(--sidebar-color);
$base-button-color: $grey-dk-100;
$btn-primary-color: $purple-200;
$code-background-color: var(--code-background-color);
$code-linenumber-color: var(--code-linenumber-color);
$feedback-color: darken($grey-dk-250, 3%);
$table-background-color: var(--table-background-color);
$table-header-background-color: var(--table-header-background-color);
$table-header-color: var(--table-header-color);
$search-background-color: var(--search-background-color);
$search-result-preview-color: var(--search-result-preview-color);
$border-color: var(--border-color);
$background: var(--background);
$shadow-color-hue: var(--shadow-color-hue);
$shadow-color-saturation: var(--shadow-color-saturation);
$shadow-color-lightness: var(--shadow-color-lightness);
$purple-shadow-color-hue: var(--purple-shadow-color-hue);
$purple-shadow-color-saturation: var(--purple-shadow-color-saturation);
$purple-shadow-color-lightness: var(--purple-shadow-color-lightness);
$image-filter: var(--image-filter);
