@import "//unpkg.com/@catppuccin/highlightjs/css/catppuccin-latte.css";
$white: var(--white);
$grey-dk-000: var(--grey-dk-000);
$grey-dk-100: var(--grey-dk-100);
$grey-dk-200: var(--grey-dk-200);
$grey-dk-250: var(--grey-dk-250);
$grey-dk-300: var(--grey-dk-300);
$grey-lt-000: var(--grey-lt-000);
$grey-lt-100: var(--grey-lt-100);
$grey-lt-200: var(--grey-lt-200);
$grey-lt-300: var(--grey-lt-300);
$purple-000: var(--purple-000);
$purple-100: var(--purple-100);
$purple-200: var(--purple-200);
$purple-300: var(--purple-300);
$blue-000: var(--blue-000);
$blue-100: var(--blue-100);
$blue-200: var(--blue-200);
$blue-300: var(--blue-300);
$green-000: var(--green-000);
$green-100: var(--green-100);
$green-200: var(--green-200);
$green-300: var(--green-300);
$yellow-000: var(--yellow-000);
$yellow-100: var(--yellow-100);
$yellow-200: var(--yellow-200);
$yellow-300: var(--yellow-300);
$red-000: var(--red-000);
$red-100: var(--red-100);
$red-200: var(--red-200);
$red-300: var(--red-300);

$body-background-color: var(--body-background-color);
$body-heading-color: var(--body-heading-color);
$body-text-color: var(--body-text-color);
$link-color: #4c4f69;
$link-underline-color: var(--link-underline-color);
$link-hover-color: $link-underline-color;
$nav-child-link-color: var(--nav-child-link-color);
$sidebar-color: var(--sidebar-color);
$base-button-color: #4c4f69;
$btn-primary-color: #4c4f69;
$code-background-color: var(--code-background-color);
$code-linenumber-color: var(--code-linenumber-color);
$feedback-color: $sidebar-color;
$table-background-color: var(--table-background-color);
$table-header-background-color: var(--table-header-background-color);
$table-header-color: var(--table-header-color);
$search-background-color: var(--search-background-color);
$search-result-preview-color: var(--search-result-preview-color);
$border-color: var(--border-color);
$background: var(--background);
$shadow-color-hue: var(--shadow-color-hue);
$shadow-color-saturation: var(--shadow-color-saturation);
$shadow-color-lightness: var(--shadow-color-lightness);
$purple-shadow-color-hue: var(--purple-shadow-color-hue);
$purple-shadow-color-saturation: var(--purple-shadow-color-saturation);
$purple-shadow-color-lightness: var(--purple-shadow-color-lightness);
$image-filter: var(--image-filter);
