<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
  <link rel="preload" href="{{ '/assets/css/just-the-docs-catppuccin-light.css' | relative_url }}" as="style">
  <link rel="preload" href="{{ '/assets/css/just-the-docs-catppuccin.css' | relative_url }}" as="style">
  <!-- The loading of KaTeX is deferred to speed up page rendering -->
  <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.10/dist/katex.min.js" integrity="sha384-hIoBPJpTUs74ddyc4bFZSM1TVlQDA60VBbJS0oA934VSz82sBx1X7kSx2ATBDIyd" crossorigin="anonymous"></script>

  <!-- To automatically render math in text elements, include the auto-render extension: -->
  <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.10/dist/contrib/auto-render.min.js" integrity="sha384-43gviWU0YVjaDtb/GhzOouOXtZMP/7XUzwPTstBeZFe/+rCMvRwr4yROQP43s0Xk" crossorigin="anonymous"
      onload="renderMathInElement(document.body);"></script>
  <script>
    const theme = localStorage.getItem('theme') || 'catppuccin';
    document.querySelector("html").className = theme;
  </script>
  <link
    title="catppuccin-light"
    rel="stylesheet"
    href="{{ '/assets/css/just-the-docs-catppuccin-light.css' | relative_url }}"
  />
  <link
    title="catppuccin"
    disabled="disabled"
    rel="stylesheet"
    href="{{ '/assets/css/just-the-docs-catppuccin.css' | relative_url }}"
  />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Anek+Latin:wght@400;500;600;700&display=swap"
    rel="stylesheet"
  />
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
  />
  <meta name="theme-color" content="#1e1e2e" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <link
    rel="stylesheet"
    href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/default.min.css"
  />
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlightjs-line-numbers.js/2.8.0/highlightjs-line-numbers.min.js"></script>

  {% if site.ga_tracking != nil %} {% assign ga_tracking_ids = site.ga_tracking
  | split: "," %}
  <script
    async
    src="https://www.googletagmanager.com/gtag/js?id={{ ga_tracking_ids.first }}"
  ></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    {% for ga_property in ga_tracking_ids %}
      gtag('config', '{{ ga_property }}'{% unless site.ga_tracking_anonymize_ip == nil %}, { 'anonymize_ip': true }{% endunless %});
    {% endfor %}
  </script>
  {% endif %} {% if site.search_enabled != false %}
  <script src="{{ '/assets/js/vendor/lunr.min.js' | relative_url }}"></script>
  {% endif %}

  <script src="{{ '/assets/js/just-the-docs.js' | relative_url }}"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1" />

  {% for file in site.static_files %} {% if file.path == site.favicon_ico or
  file.path == '/favicon.ico' %} {% assign favicon = true %} {% endif %} {%
  endfor %} {% if favicon %}
  <link
    rel="icon"
    href="{{ site.favicon_ico | default: '/favicon.ico' | relative_url }}"
    type="image/x-icon"
  />
  {% endif %} {% seo %} {% include head_custom.html %}
</head>
