<div>
  <button class="toggle-theme">
    <i class="lni lni-night"></i>
  </button>
</div>


<script>
function setTheme(theme) {
  const toggleDarkMode = document.querySelector('.toggle-theme');
  jtd.setTheme(theme);
  switch(theme) {
    case 'catppuccin-light':
      toggleDarkMode.innerHTML = '<i class="lni lni-sun"></i>';
      break;
    case 'catppuccin':
      toggleDarkMode.innerHTML = '<i class="lni lni-night"></i>';
      break;
    default:
      toggleDarkMode.innerHTML = '<i class="lni lni-sun"></i>';
      break;
  }
  hljs.highlightAll();
}

prefers_dark_theme = window.matchMedia('(prefers-color-scheme: dark)');
prefers_dark_theme.addEventListener('change', event => {
  const newColorScheme = event.matches ? "catppuccin" : "catppuccin-light";
  setTheme(newColorScheme);
});
const newColorScheme = prefers_dark_theme.matches ? "catppuccin" : "catppuccin-light";
setTheme(newColorScheme);

jtd.addEvent(document.querySelector('.toggle-theme'), 'click', function(){
  if (jtd.getTheme() === 'catppuccin') {
    setTheme('catppuccin-light')
  } else {
    setTheme('catppuccin');
  }
});

let blocks = document.querySelectorAll("pre");
console.log(blocks)
blocks.forEach((block) => {
  let code = block.querySelector("code");
  console.log(code)
  const language = code.classList.filter((item, index) => return /^language-/.test(item);)[0].replace('language-', '');
  console.log(language)
  block.insertAdjacentHTML("beforebegin",`<label>${language}</label>`)
  
  
  if (navigator.clipboard) {
    let button = document.createElement("button");
    button.classList.add("btn")

    button.innerHTML = '<i class="lni lni-clipboard"></i>';
    block.insertAdjacentElement("beforebegin", button);

    button.addEventListener("click", async () => {
      await copyCode(block, button);
    });
  }
});

async function copyCode(block, button) {
  let code = block.querySelector("code");
  let text = code.innerText;

  await navigator.clipboard.writeText(text);

  button.innerHTML = "<p>Copied!</p>";

  setTimeout(() => {
    button.innerHTML = '<i class="lni lni-clipboard"></i>';
  }, 700);
}
</script>
