---
layout: table_wrappers
---

<!DOCTYPE html>

<html lang="{{ site.lang | default: 'en-US' }}">
{% include head.html %}
<body>
  {% include icons/icons.html %}
  <div class="hero-content">
    <div class="main-content-wrap">
      {% include components/breadcrumbs.html %}
      <div id="main-content" class="main-content">
        <main>
          {% if site.heading_anchors != false %}
            {% include vendor/anchor_headings.html html=content beforeHeading="true" anchorBody="<svg viewBox=\"0 0 16 16\" aria-hidden=\"true\"><use xlink:href=\"#svg-link\"></use></svg>" anchorClass="anchor-heading" anchorAttrs="aria-labelledby=\"%html_id%\"" %}
          {% else %}
            {{ content }}
          {% endif %}
        </main>
        {% include components/footer.html %}
      </div>
    </div>
  </div>
</body>
<script>
    function setTheme(theme) {
      console.log(`changing theme to ${theme}`);
      localStorage.setItem("theme", theme);
      root = document.querySelector("html");
      root.className = theme;
      switch (theme) {
        case "catppuccin-light":
            document
            .querySelector(`link[title]:not([title="${theme}"])`)
            .setAttribute("disabled", "disabled");
          document.querySelector("meta[name='theme-color']").setAttribute("content", "#eff1f5");
          break;
        case "catppuccin":
          document
            .querySelector(`link[title="${theme}"]`)
            .removeAttribute("disabled");
          document.querySelector("meta[name='theme-color']").setAttribute("content", "#11111b");
          break;
        default:
          break;
      }
    }
  
    document.addEventListener("DOMContentLoaded", function (event) {
      prefers_dark_theme = window.matchMedia("(prefers-color-scheme: dark)");
      prefers_dark_theme.addEventListener("change", (event) => {
        const newColorScheme = event.matches ? "catppuccin" : "catppuccin-light";
        setTheme(newColorScheme);
      });
      const newColorScheme = prefers_dark_theme.matches
        ? "catppuccin"
        : "catppuccin-light";
      setTheme(localStorage.getItem("theme") || newColorScheme);
  
      jtd.addEvent(document.querySelector("#toggle-theme"), "click", function () {
        if (localStorage.getItem("theme") === "catppuccin-light") {
          setTheme("catppuccin");
        } else {
          setTheme("catppuccin-light");
        }
      });
    });
  </script>
  
  <script defer>  
    document.addEventListener("DOMContentLoaded", function (event) {
      const internalLinkSVG =
        '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5"><path fill-rule="evenodd" d="M3 10a.75.75 0 01.75-.75h10.638L10.23 5.29a.75.75 0 111.04-1.08l5.5 5.25a.75.75 0 010 1.08l-5.5 5.25a.75.75 0 11-1.04-1.08l4.158-3.96H3.75A.75.75 0 013 10z" clip-rule="evenodd" /></svg>';
      const externalLinkSVG =
        '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5"><path fill-rule="evenodd" d="M4.25 5.5a.75.75 0 00-.75.75v8.5c0 .414.336.75.75.75h8.5a.75.75 0 00.75-.75v-4a.75.75 0 011.5 0v4A2.25 2.25 0 0112.75 17h-8.5A2.25 2.25 0 012 14.75v-8.5A2.25 2.25 0 014.25 4h5a.75.75 0 010 1.5h-5z" clip-rule="evenodd" /><path fill-rule="evenodd" d="M6.194 12.753a.75.75 0 001.06.053L16.5 4.44v2.81a.75.75 0 001.5 0v-4.5a.75.75 0 00-.75-.75h-4.5a.75.75 0 000 1.5h2.553l-9.056 8.194a.75.75 0 00-.053 1.06z" clip-rule="evenodd" /></svg>';
      const externalLinkSVGAlt = '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" d="M4.5 19.5l15-15m0 0H8.25m11.25 0v11.25" /></svg>';
    
      const selectors = {
        ['h4>a:not(.no-arrow):not(.anchor-heading)']: {
          external: externalLinkSVGAlt,
          internal: internalLinkSVG,
        },
        ['p>a:not(.no-arrow),li:not([class])>a:not(.no-arrow),em>a:not(.no-arrow)']: {
          external: externalLinkSVG,
          internal: internalLinkSVG,
        } 
      };
    
      for (const [selector, svgs] of Object.entries(selectors)) {
        document
          .querySelectorAll(selector)
          .forEach((link) => {
            if (link.hostname !== location.hostname) {
              link.insertAdjacentHTML("beforeend", svgs.external);
            } else {
              link.insertAdjacentHTML("beforeend", svgs.internal);
            }
          });
      }
    });
  </script>
  
</html>