---
layout: default
---

<img class="filter" src="{{ page.image_link }}" alt="{{ page.title }}" />

{% for history in page.history %}
<span class="mb-0 mt-1">{{ history.dates }}</span>
<h4 class="mb-1 mt-0"><strong>{{ history.title }}</strong></h4>
<br />
{% endfor %} {% for language in page.languages %}
<span class="fs-8 mt-2">
<i class="devicon-{{ language | downcase | replace: 'aws', 'amazonwebservices' | replace: 'c#', 'csharp' | replace: '.net', 'dot-net' | replace: 'mssql', 'microsoftsqlserver' }}-plain-wordmark"></i>
</span>
{% endfor %} {{ content }}
