---
layout: default
---

<img class="filter" src="{{ page.image_link }}" alt="{{ page.title }}" />

{% assign history = site.data.resume.work_experience | where: "company", page.title %}

{% for job in history %}
<span class="mb-0 mt-1">{{ job.startDate }} - {{ job.endDate }}</span>
<h4 class="mb-1 mt-0"><strong>{{ job.position }}</strong></h4>
<br />
{% endfor %}

{% for language in page.languages %}
<span class="fs-8 mt-2">
<i class="devicon-{{ language | downcase | replace: 'aws', 'amazonwebservices' | replace: 'c#', 'csharp' | replace: '.net', 'dot-net' | replace: 'mssql', 'microsoftsqlserver' }}-plain-wordmark"></i>
</span>
{% endfor %}

{{ content }}

<span id="latex-container">
    {% for job in history %}
      {% for highlight in job.highlights %}
        <li>{{ highlight }}</li>
      {% endfor %}
    {% endfor %}
</span>


<script>
    document.addEventListener("DOMContentLoaded", function() {
        var container = document.getElementById('latex-container');
        var latex = container.textContent;
        katex.render(latex, container, {
            throwOnError: false,
            displayMode: true
        });
    });
</script>
